body{

    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 180px;
}

#forum{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    align-content:space-between;
   
   
}

main{
    height: 450px;
    width: 500px;
    border: solid 3px black;
    background-color: lightgray;
}
.form-container{

    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{

    width: 356px;
    
}

button{
    margin-left: 70px;
    box-shadow: black 5px;
    background-color: blue;
    width: 360px;
    margin-top: 40px;
    color: white;
    
}

button:hover {

    background-color: black;

}


#tekst2{
    color: white;
    margin-left: 80px;
}

.links {

    display: flex;
    flex-direction: column;
    
}
a{

    margin-top: 20px;
    margin-left: 125px;
}

label{
    width: 200px;
}


#forum2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#wachtwoord{

    margin-top: 25px;
    width: 360px;
}

#herhaalwachtwoord{

    margin-top: 25px;
    width: 360px;


}

#email{
    margin-top: 25px;
    width: 360px;
}

.checkbox{
    display: flex;
   
}

#checkboxx{
    
}

#voor{
    
}

#items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    
  
}

input{

    border: 2px solid black;
}
